{% extends 'base.guest.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block body %}
    <section class="h-100 gradient-form" style="background-color: #eee; min-height: 100vh;">
        {% for type, messages in app.flashes %}
            <div class="alert alert-{{ type }} alert-dismissible fade show alert-centered" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="container-fluid py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-10 col-sm-12">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <!-- Partie gauche : Formulaire -->
                            <div class="col-lg-6 col-md-12">
                                <div class="card-body p-md-5 mx-md-4">
                                    <div class="text-center">
                                        <img src="{{ asset('static/icons/logoccib38.webp') }}"
                                             style="max-width: 100%; height: auto;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">Bienvenu au CCIB38</h4>
                                    </div>
                                    <form method="post">
                                        <div class="form-outline mb-4">
                                            <input type="email" id="inputEmail" value="{{ last_username }}" name="email" class="form-control border" autocomplete="email" required />
                                            <label class="form-label" for="inputEmail">Username</label>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="password" id="inputPassword" name="password" class="form-control border" autocomplete="current-password" required />
                                            <label class="form-label" for="inputPassword">Password</label>
                                        </div>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Se connecter</button>
                                        </div>
                                        <div class="text-center">
                                            <a href="{{ path('forgot_password') }}" class="text-muted">Mot de passe oublié ?</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Partie droite : Image -->
                            <div class="col-lg-6 d-none d-md-flex align-items-center gradient-custom-2">
                                <div class="text-center w-100">
                                    <img src="{{ asset('static/images/login_picture.webp') }}"
                                         style="width: 100%; height: auto;" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
