{% extends 'base.html.twig' %}

{% block title %}StudyClass index{% endblock %}

{% block body %}
    <h1>StudyClass index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Level</th>
                <th>Speciality</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for study_class in study_classes %}
            <tr>
                <td>{{ study_class.id }}</td>
                <td>{{ study_class.name }}</td>
                <td>{{ study_class.level }}</td>
                <td>{{ study_class.speciality }}</td>
                <td>
                    <a href="{{ path('app_study_class_show', {'id': study_class.id}) }}">show</a>
                    <a href="{{ path('app_study_class_edit', {'id': study_class.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_study_class_new') }}">Create new</a>
{% endblock %}
