{% extends 'base.html.twig' %}

{% block title %}List of Rooms{% endblock %}

{% block body %}
    <div class="mt-5">
        <h1 class="mb-4">Room List</h1>

        <!-- Search Form -->
        <form method="get" action="{{ path('app_room_index') }}" class="mb-4">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" name="search" class="form-control" placeholder="Search by name or comment" value="{{ app.request.query.get('search') }}">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

        <div class="d-flex justify-content-end mb-3">
            <a href="{{ path('app_room_new') }}" class="btn btn-success">
                <i class="fas fa-plus"></i> Create New Room
            </a>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Max Students</th>
                    <th>Comment</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td>{{ room.name }}</td>
                        <td>{{ room.maxStudents }}</td>
                        <td>{{ room.comment }}</td>
                        <td class="text-center">
                            <a style="margin: 5px" href="{{ path('app_room_show', {'id': room.id}) }}" class="btn btn-info btn-sm">
                                <i class="fas fa-eye"></i> Show
                            </a>
                            <a style="margin: 5px" href="{{ path('app_room_edit', {'id': room.id}) }}" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <a style="margin: 5px" href="{{ path('app_room_delete', {'id': room.id}) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <nav>
            <ul class="pagination justify-content-center">
                {% if current_page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('app_room_index', {page: current_page - 1, search: app.request.query.get('search')}) }}">Previous</a>
                    </li>
                {% endif %}

                {% for i in 1..total_pages %}
                    <li class="page-item {% if i == current_page %}active{% endif %}">
                        <a class="page-link" href="{{ path('app_room_index', {page: i, search: app.request.query.get('search')}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {% if current_page < total_pages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('app_room_index', {page: current_page + 1, search: app.request.query.get('search')}) }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
