{% extends 'base.html.twig' %}

{% block title %}Edit Session{% endblock %}

{% block body %}
    <div class="container mt-5">
        <!-- Back to list button -->
        <div class="mb-3">
            <a href="{{ path('app_session_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Back to list
            </a>
        </div>

        <h1 class="mb-4">Edit Session</h1>

        <div class="card p-4">
            <!-- Edit form -->
            {{ form_start(form) }}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        {{ form_label(form.startTime, 'Start Time') }}
                        {{ form_widget(form.startTime, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        {{ form_label(form.endTime, 'End Time') }}
                        {{ form_widget(form.endTime, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        {{ form_label(form.room, 'Room') }}
                        {{ form_widget(form.room, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                {% if form.studyClass is defined %}
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            {{ form_label(form.studyClass, 'Study Class') }}
                            {{ form_widget(form.studyClass, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                {% endif %}

                {% if is_manager %}
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            {{ form_label(form.teacher, 'Teacher') }}
                            {{ form_widget(form.teacher, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                {% endif %}
            </div>


            <!-- Update button -->
            <div class="d-flex justify-content-between mt-4">
                <button class="btn btn-success">{{ button_label|default('Update') }}</button>
                <a href="{{ path('app_session_index') }}" class="btn btn-secondary">Cancel</a>
            </div>

            {{ form_end(form) }}
        </div>

        <!-- Delete button -->
        <div class="d-flex justify-content-end mt-4">
            {{ include('session/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
