<!-- menu.html.twig -->
<div class="sidebar">
    <div class="sidebar-menu">
        <ul class="list-unstyled">
            <li>
                <a href="{{ path('app_new_page') }}">
                    <i class="fas fa-laptop"></i> {{ 'My profile'|trans }}
                </a>

            </li>
            <li>
                <a href="{{ path('app_home') }}">
                    <img src="{{ asset('static/icons/groupe.svg') }}" width="16" />
                    {{ 'Home page'|trans }}
                </a>
            </li>
        </ul>
    </div>
</div>
