<!-- menu.html.twig -->
<div class="sidebar">
    <div class="sidebar-header">
        <img src="{{ asset('static/icons/logo.jpg') }}" alt="Logo">
    </div>
    <div class="sidebar-menu">
        <ul class="list-unstyled">
            <li>
                <a href="{{ path('app_home') }}">
                    <i class="fas fa-tachometer-alt"></i> {{ 'Tableau de bord'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_new_page') }}">
                    <i class="fas fa-calendar-alt"></i> {{ 'New page '|trans }}
                </a>
            </li>
        </ul>
    </div>
</div>
