<!-- menu.html.twig -->
<div class="sidebar">
    <div class="sidebar-header">
        <img src="{{ asset('static/icons/logoccib38.webp') }}" alt="Logo">
    </div>
    <div class="sidebar-menu">
        <ul class="list-unstyled" style="font-size: 16px">
            {% if(is_granted('ROLE_ADMIN')) %}
                <li>
                    <a href="{{ path('user_index') }}">
                        <i class="fas fa-chalkboard-teacher m-3"></i> {{ 'Utilisateurs'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_dashboard') }}">
                        <i class="fa-solid fa-sliders m-3"></i> {{ 'Tableau de board'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_registers_academic_support') }}">
                        <i class="fa-solid fa-users m-3"></i>{{ 'Les inscrits ( Soutient scolaire )'|trans }}
                    </a>
                </li>
            {% endif %}
            {% if(is_granted('ROLE_MANAGER')) %}
                <li>
                    <a href="{{ path('app_registers') }}">
                        <i class="fa-solid fa-users m-3"></i>{{ 'Les inscrits ( Arabe )'|trans }}
                    </a>
                </li>
            <!--<li>
                    <a href="{{ path('app_planning_study_class') }}">
                        <i class="fa-solid fa-users m-3"></i>{{ 'Planification'|trans }}
                    </a>
                </li>-->
                <li>
                    <a href="{{ path('app_teacher_index') }}">
                        <i class="far fa-id-card m-3"></i> {{ 'Enseignants'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_room_index') }}">
                        <i class="fas fa-door-open m-3"></i> {{ 'Salles'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_student_index') }}">
                        <i class="fas fa-user-graduate m-3"></i> {{ 'Élèves'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_parent_entity_index') }}">
                        <i class="fas fa-user-friends m-3"></i> {{ 'Parents'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_study_class_index') }}">
                        <i class="fas fa-school m-3"></i> {{ 'Classes'|trans }}
                    </a>
                </li>
            {% endif %}
            {% if(is_granted('ROLE_TEACHER')) %}

                <li>
                    <a href="{{ path('app_session_index') }}">
                        <i class="fas fa-chalkboard-teacher m-3"></i> {{ 'Sessions'|trans }}
                    </a>
                </li>
            {% endif %}
            {% if(is_granted('ROLE_MANAGER')) %}
                <li>
                    <a href="{{ path('payments_list') }}">
                        <i class="fa-solid fa-dollar-sign m-3"></i> {{ 'Paymenets'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_invoice_index') }}">
                        <i class="fa-solid fa-file-invoice m-3"></i> {{ 'Factures'|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    {% if(is_granted('ROLE_PARENT')) %}
        <div class="sidebar-menu">
            <ul class="list-unstyled" style="font-size: 16px">
                    <li>
                        <a href="{{ path('app_dashboard_parent') }}">
                            <i class="fa-solid fa-sliders m-3"></i> {{ 'Tableau de board'|trans }}
                        </a>
                    </li>
            </ul>
        </div>
    {% endif %}
</div>
